@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Khula:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}




html {
    height: 100%;
    transform-style: preserve-3d;
    font-family: 'Khula', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: #0B1D26;
}

header nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    color: white;
    padding: 80px 0;
}

header nav ul {
    display: flex;
}

header a {
    color: white;
}

.logo {
    font-family: 'Bentham', serif;
    font-size: 40px;
}

header nav a {
    padding: 0 20px;
}

.acc div{
    display: flex;
    align-items: center;
}

.acc p {
    padding-left: 10px;
    padding-top: 3px;
}

.menuBurg {
    fill: white;
    display: none;
}

.sky {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 80vh;
    z-index: 1;
    object-fit: cover;
}

.mountain {
    position: absolute;
    top: 40vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.man {
    position: absolute;
    top: 50vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
}

.shadows_top {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-size: cover;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
}

.shadows_bottom {
    position: absolute;
    top: 50vh;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-size: cover;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}

.MainWarper {
    position: relative;
    z-index: 3;
    justify-content: space-between;
    width: 90%;
    margin: 150px auto 0;
    display: flex;
    color: white;
}

.socialMedia {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

.socialMedia ul{
    display: flex;
    flex-direction: column;
}

.socialMedia h2 {
    transform: rotate(90deg) translatey(26px);
}

.socialMedia_svg{
    margin: 40px 0 10px;
}

.mainpart {
    font-size: 20px;
    width: 40%;
}

.mainpart h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #FBD784;
}

.mainpart p {
    font-size: 70px;
    padding: 20px 0;
    font-family: 'Bentham', serif;
}

.mainpart img{
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.mainpart h2 {
    font-weight: bold;
}

.navSite ul {
    margin-top: 50px;
    display: flex;
    z-index: 3;
    flex-direction: column;
}

.navSite li {
    text-align: right;
    color: white;
    font-size: 20px;
    border-right: 2px solid white;
    padding: 20px 20px;
}

.navSite a {
    color: white;
}

main {
    color: white;
    z-index: 4;
}

.back {
    position: absolute;
    top: 0;
    z-index: -1;
}

.first_main {
    width: 70%;
    margin: 60vh auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first_main article {
    width: 40vw;
    padding-right: 10vw;
}

.first_main img {
    object-fit: cover;
}

.first_main h2 {
    color: #FBD784;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.first_main h3 {
    font-family: 'Bentham', serif;
    font-size: 70px;
    margin: 20px 0;
}

.first_main p {
    font-size: 18px;
}



.first_main a {
    color: #FBD784;
    font-size: 20px;
}

.first_main h4 {
    position: absolute;
    opacity: 0.1;
    left: 3%;
    line-height: 250px;
    font-weight: bold;
    font-size: 200px;
}

.second_main {
    width: 70%;
    display: flex;
    margin: 200px auto 0;
    align-items: center;
    justify-content: space-between;
}

.second_main article {
    width: 30vw;
}

.second_main h2 {
    color: #FBD784;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.second_main h3 {
    font-family: 'Bentham', serif;
    font-size: 70px;
    margin: 20px 0;
}

.second_main a,
.first_main a,
.therd_main a{
    color: #FBD784;
    font-size: 20px;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.first_main a svg,
.therd_main a svg,
.second_main a svg{
    padding-left: 5px;
    width: 2vw;
}

.first_main a img,
.therd_main a img,
.second_main a img{
    padding-left: 10px;
    width: 1vw;
}

.second_main h4 {
    position: absolute;
    opacity: 0.1;
    left: 85%;
    line-height: 250px;
    font-weight: bold;
    font-size: 200px;
}

.therd_main {
    width: 70%;
    margin: 200px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.therd_main article {
    width: 30vw;
}

.therd_main h2 {
    color: #FBD784;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.therd_main h3 {
    font-family: 'Bentham', serif;
    font-size: 70px;
    margin: 20px 0;
}

.therd_main p {
    font-size: 18px;
}

.therd_main a {
    color: #FBD784;
    font-size: 20px;
}

.therd_main h4 {
    position: absolute;
    opacity: 0.1;
    left: 3%;
    line-height: 250px;
    font-weight: bold;
    font-size: 200px;
}

footer {
    margin: 0 auto;
    width: 90vw;
    color: white;
    padding: 200px 0 10px;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1440px) {

    .first_main img {
        width: 32vw;
    }

    .second_main img {
        width: 32vw;
    }

    .therd_main img {
        width: 32vw;
    }

    .second_main h4 {
        left: 83%;
    }

    .first_main h4,
    .therd_main h4 {
        left: 0;
    }
}

@media screen and (max-width: 1366px) {

    .first_main img {
        width: 28vw;
    }

    .second_main img {
        width: 28vw;
    }

    .therd_main img {
        width: 28vw;
    }

    .logo{
        font-size:30px;
    }

    .second_main,
    .first_main,
    .therd_main {
        margin-top: 300px;
    }

    .first_main h4,
    .therd_main h4,
    .second_main h4 {
        font-size: 15vw;
    }

    .mainpart p {
        font-size: 5vw;
    }

    .first_main h3,
    .second_main h3,
    .therd_main h3 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 850px) {

    header nav a{
        padding: 0;
    }

    .first_main img {
        width: 28vw;
    }

    .second_main img {
        width: 28vw;
    }

    .first_main img,
    .therd_main img,
    .second_main img {
        width: 90vw;
        height: 400px;
        object-fit: cover;
    }

    .first_main a img,
    .therd_main a img,
    .second_main a img {
        width: 2vw;
        height: 10px;
        object-fit: cover;
    }

    .first_main h4,
    .therd_main h4,
    .second_main h4 {
        font-size: 100px;
        margin-top: 140px;
    }

    .first_main article,
    .second_main article,
    .therd_main article {
        width: 90vw;
        padding: 50px 0 0 0;
    }

    .second_main,
    .first_main,
    .therd_main {
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .first_main {
        margin-top: 400px;
    }

    .second_main {
        flex-direction: column;
    }

    .menuBurg {
        fill: white;
        display: block;
    }

    .menu_pc,
    .acc div,
    .navSite,
    .mainpart h3 {
        display: none;
    }

    .mainpart {
        width: 90vw;
    }

    .MainWarper {
        position: relative;
        z-index: 3;
        justify-content: center;
        width: 90%;
        margin: 40px auto 0;
        display: flex;
        color: white;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .socialMedia h2 {
        transform: none;
    }

    .socialMedia_svg {
        margin: 0 10px;
    }

    .socialMedia {
        flex-direction: row;
        align-items: center;
    }

    .socialMedia ul{
        flex-direction: row ;
    }

    footer nav h1{
        font-size: 2vw;
    }
    footer nav p{
        font-size: 2vw;
    }

}

@media screen and (max-width: 600px) {

    .MainWarper{
        margin-top: 100px;
    }

    header nav{
        padding: 20px 5px;
    }
    .menuBurg{
        width: 10vw;
    }

    .first_main h4,
    .therd_main h4,
    .second_main h4 {
        font-size: 15vw;
        margin-top: 140px;
    }

    .first_main h3,
    .second_main h3,
    .therd_main h3 {
        font-size: 10vw;
    }

    .first_main p,
    .second_main p,
    .therd_main p {
        font-size: 3vw;
    }

    .socialMedia {
        margin-top: 5vw;
    }

    .mainpart p {
        font-size: 12vw;
    }

    .second_main,
    .first_main,
    .therd_main {
        margin-top: 100px;
    }

    .first_main {
        margin-top: 350px;
    }
    .mountain{
        object-fit: cover;
    }
    .first_main a img,
    .therd_main a img,
    .second_main a img {
        width: 4vw;
        height: 10px;
        object-fit: cover;
    }
}

@media screen and (max-width: 330px) {

    .first_main h4,
    .therd_main h4,
    .second_main h4 {
        font-size: 15vw;
        margin-top: 140px;
    }
    .MainWarper{
        margin-top: 50px;
    }
    .mainpart h2{
        font-size: 4vw;
    }

    .first_main a svg,
    .second_main a svg,
    .therd_main a svg{
        padding-left: 5px;
        width: 4vw;
    }

    .first_main h3,
    .second_main h3,
    .therd_main h3 {
        font-size: 10vw;
    }

    .first_main p,
    .second_main p,
    .therd_main p {
        font-size: 4vw;
    }

    .socialMedia {
        margin-top: 5vw;
    }

    .mainpart p {
        font-size: 10vw;
    }
    .socialMedia h2{
        font-size: 5vw;
    }

    .socialMedia_svg{
        width: 8vw;
    }
    .socialMedia_svg1{
        width: 8vw;
    }

    .second_main,
    .first_main,
    .therd_main {
        margin-top: 10vw;
    }

    .first_main{
        margin-top: 200px;
    }

    .logo{
        font-size: 10vw;
        padding: 0;
    }

    .first_main img, .therd_main img, .second_main img {
        height: 30vh;
    }

    .first_main a img,
    .therd_main a img,
    .second_main a img {
        width: 4vw;
        height: 5px;
        object-fit: cover;
    }

    footer{
        padding: 20px 0 0;
    }
}